.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

main {
  width: 100%;
  
}

.movies {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.movie {
  text-align: center;
  align-items: center;
  justify-content: center;
}